#signature-canva {
  min-width: 300px;
}
.form-signature {
  max-width: 500px;
}
body {
  width: 100%;
  max-width: 500px;
  min-width: 300px;
}

#camera-box {
  width: 100%;
  max-width: 500px;
  min-width: 300px;
}
video {
  width: 321.25984251968504px;
  height: 204.09448818897638px;
}
